<h1>Authentication Test/h1>

<% flash.each do |message_type, message| %>
  <div><%= message %></div>
<% end %>

<div>
  <%= form_for :session, url: login_path do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Log in" %>
  <% end %>
</div>
